@import '../../colors.scss';

.container {
    background-color: $GrisFondo;
    min-width: 300px;
    height: 100%;
    margin: 1em;
    padding:10px;
    box-shadow: 0px 2px $Shadow;
    border-radius: 3px;
}
.tarjeta_titulo {
    background-color: $Ligthest;
    color: $Dark;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 2px $Shadow;
    font-size: 1.3em;
    font-weight: bold;
}