@import '../../colors.scss';

.cartascss {
    background-color: #FFF;
    max-width: 272px;
    padding: 0.8em 0.2em 0.8em 0.4em;
    margin: 0.4em;
    font-size: 1.1em;
    box-shadow: 0px 1px $Shadow;
    border-radius: 5px;
    cursor: pointer;
    word-wrap: break-word;

}